AdditionalLight/Library
AdditionalLight/Logs
AdditionalLight/obj
AdditionalLight/.vs
AdditionalLight/Temp
AdditionalLight/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
AdditionalLight/Unity.RenderPipelines.Core.Editor.csproj
AdditionalLight/Unity.RenderPipelines.Core.Editor.Tests.csproj
AdditionalLight/Unity.RenderPipelines.Core.Runtime.csproj
AdditionalLight/Unity.RenderPipelines.Core.Runtime.Tests.csproj
AdditionalLight/Unity.RenderPipelines.Core.ShaderLibrary.csproj
AdditionalLight/Unity.RenderPipelines.Universal.Editor.csproj
AdditionalLight/Unity.RenderPipelines.Universal.Editor.Tests.csproj
AdditionalLight/Unity.RenderPipelines.Universal.Runtime.csproj
AdditionalLight/Unity.RenderPipelines.Universal.Runtime.Tests.csproj
AdditionalLight/Unity.RenderPipelines.Universal.Shaders.csproj
AdditionalLight/UnityEngine.UI.csproj
AdditionalLight/PPv2URPConverters.csproj
